

.App {
  text-align: center;
}


form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form button {
  margin-top: 5%;
}

table {
  margin: 5% auto;
  width: 80%!important;
}

.action-btn {
  margin: 2%;
}


.nav-container{
  background: rgb(224,231,231);
background: linear-gradient(90deg, rgba(224,231,231,1) 22%, rgba(11,110,187,1) 68%, rgba(14,19,236,1) 97%);
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.logo{
display: flex;
align-items: center;
gap: 15px;
}

.tbl-detail{
  padding: 0;
}

.btn-detail{
margin-bottom: 15px;
display: flex;
justify-content: center;
gap: 15px;


}

.remove-bg{
  filter:brightness(1.1);
  mix-blend-mode: multiply;
  height: 75px;
  width: 75px;
  }

.logo p{
font-family: 'Nerko One', cursive;
font-size: 45px;
color: aliceblue;
margin-top: 10px;

}



.form-login{
max-width: 450px;
margin: 0 auto;

}


.image-container-upload{
  margin: 10px 0;
  padding: 0;
  gap:10px
  }
  
  .icon-buton, .image-container-upload,.img-btn{
    display: flex;
    align-items:center;
    
  }

  .container1{
display: flex;
flex-direction: column;

  }


 
  
  
  
  .img-btn{
    border: #D4D7D9 dashed;
    border-radius: 5px;
    padding: 10px;
    width: 210px;
    gap: 10px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    justify-content: center;
  }

  .icon-text{
    font-size: 1.2em;
    margin: 0;
    font-weight: 200;
  }

.table{
padding: 0;

}

.user-log{
color: black;
font-size: small;
position: relative;
left: 495px;
bottom: 107px;

}

.logout-button{
position: relative;
left: 587px;
bottom: 143px;
color: white;
text-decoration: none;

}

.form-register{
  max-width: 600px;
  margin: 0 auto;
}

.detail-top{  
  display: flex;
  justify-content: space-around;
  
    
}

.emergencia{
  background-color: red;
  }

.detail-top h2{
  color: black;
    
}

.preexistencias-top{

max-width: 1020px;
margin-top: 35px;
margin-left: 125px;



}


.table-test{
max-width: 1200px;
}



.form-paciente{
  padding-top: 20px;
 
  max-width: 600px;
  margin: 0 auto;
}


.remove-bg{
filter:brightness(1.1);
mix-blend-mode: multiply;
height: 75px;
width: 75px;
}

h2{
  color: white;
  margin-top: 50px;
}

.btn-color{
  color:white;
  text-decoration: none;
}

.list-container{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  padding: 10px;
  align-items: center;

}

.link-container{
  color: white;
  text-decoration: none;
  font-weight: 600;
  align-items: center;
}

.nav-link{
  color: white;
  font-family: 'Nerko One', cursive;
  font-size: 25px;
}

.nav-link:hover{
  color: rgb(182, 95, 182);
  font-family: 'Nerko One', cursive;
  font-size: 25px;
}

.form-group{
  margin-top: 12px;
}